ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a:focus,
a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
a:focus {
  outline: 0;
}
img {
  max-width: 100%;
}
p {
  font-size: 16px;
  line-height: 30px;
  color: #898b96;
  font-weight: 300;
}
h4 {
  font-family: Rubik, sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
  color: #363940;
}
a {
  color: #5867dd;
}
.no-padding {
  padding: 0 !important;
}
.go_top {
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  background: #5867dd;
  color: #fff;
  position: fixed;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  right: -webkit-calc((100% - 1140px)/ 2);
  right: calc((100% - 1140px) / 2);
  z-index: 111;
  bottom: 80px;
  text-align: center;
}
.go_top span {
  display: inline-block;
}
.footer-big {
  padding: 105px 0 5px 0;
}
.footer-widget {
  padding: 0 10%;
}
.footer-big .footer-widget {
  margin-bottom: 40px;
}
.footer--light {
  border-radius: 10px;
  background: #292929 0% 0% no-repeat padding-box;
}
.footer-big,
.footer-big p {
  color: #898b96;
}
.footer-menu {
  padding-left: 48px;
  margin-top: 8%;
}
.footer-menu ul li a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: "Poppins";
}
.footer-menu ul li a:hover {
  color: none;
}
.footer-menu--1 {
  width: 100%;
}
.footer-widget-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
}
.mini-footer {
  border-radius: 10px;
  background: #292929 0% 0% no-repeat padding-box;
  text-align: center;
  padding: 2% 0;
}
.mini-footer p {
  margin: 0;
  line-height: 26px;
  font-size: 15px;
  color: #999;
}
.mini-footer p a {
  color: #5867dd;
}
.mini-footer p a:hover {
  color: #34bfa3;
}

.widget-social {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: right;
  margin-top: 8%;
}

.widget-social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.widget-social img {
  display: block;
  margin-bottom: 30px;
  padding: 6% 0%;
}
.widget-about img {
  display: block;
  margin-bottom: 30px;
}
.widget-about p {
  font-weight: 400;
}
.widget-about .contact-details {
  margin: 30px 0 0 0;
}
.widget-about .contact-details li {
  margin-bottom: 10px;
}
.widget-about .contact-details li:last-child {
  margin-bottom: 0;
}
.widget-about .contact-details li span {
  padding-right: 12px;
}
.widget-about .contact-details li a {
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 300;
}
.copyright-text p {
  color: white;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 400;
}
.copyright-text p a {
  color: white;
  text-decoration: none;
}

#crescentic:hover {
  color: orange;
}

@media (max-width: 991px) {
  .footer-menu {
    padding-left: 0;
  }
}

/* ICONS */

.icon-size {
  font-size: 50px !important;
}
