.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav:hover .nav-link {
  color: white;
}

.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar .nav-item:hover .nav-link {
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.navbar .nav-item .dropdown-menu {
  margin-top: 0;
}

/* body {
  background: url("../../assets/dark-bg.jpg");
} */

.fas {
  color: white;
  font-size: 30px;
}

.language {
  color: white;
}
